In [1]:
import pandas as pd

# Membaca file CSV dan mengubahnya menjadi kerangka data (dataframe)
# Ganti 'file.csv' dengan path file CSV yang ingin Anda baca
df = pd.read_csv('/content/cobak.csv')

# Menampilkan 5 baris pertama dari dataframe
print(df.head())

   No           Nama     Merek  Stok
0   1           Odol  Ciptaden    20
1   2           Odol    Kodomo    30
2   3          Sabun       giv    10
3   4          Sampo   sunslik    20
4   5  Sambun Gobrot     biore    50

In [2]:
#Target encoding
import pandas as pd
df['Target'] = [1,0,1,0,1,0,1]
mean_target = df.groupby('Merek')['Stok'].mean()
df['Merek'] = df['Merek'].map(mean_target)
print(df)

   No           Nama  Merek  Stok  Target
0   1           Odol   20.0    20       1
1   2           Odol   30.0    30       0
2   3          Sabun   10.0    10       1
3   4          Sampo   20.0    20       0
4   5  Sambun Gobrot   50.0    50       1
5   6          Sampo   20.0    20       0
6   7          Sabon   10.0    10       1

In [6]:
datakategori= df['Merek']
print(datakategori)

0    1
1    2
2    0
3    1
4    3
5    1
6    0
Name: Merek, dtype: int64

In [7]:
#label encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
numeric_data = label_encoder.fit_transform(datakategori)
print(numeric_data)

[1 2 0 1 3 1 0]